<h1> Data Science Tools and Ecosystem </h1>

### In this notebook, Data Science Tools and Ecosystem are summarized.

## Author:
Ana Arietti

**Objectives:**

* Create markdown cell
* Create code cell
* Use arithmetic expressions
* Use mathematical expressions
* Insert comment lines

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Java
5. C
6. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

table of contents:

|Data Science Tools|
|:-:|
|ApacheHadoop|
|ApacheSpark|
|ApacheCassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(4*14)+2

58

In [16]:
#This will convert 200 minutes to hours by diving by 60

def conv_hours(min):
    return min / 60

In [25]:
print(conv_hours(200))

3.3333333333333335